<h1>Hello, user!</h1>

<p *ngIf="artists$ | async; let artists">There are top {{artists.length}} artists on LastFM</p>

<app-loading *ngIf="!artists$"></app-loading>

<div class="container">
  <div class="row" *ngIf="artists$ | async; let artists">
    <a id="artist" class="col-md-2 card-body m-3 p-3" appSetRandomColor
       *ngFor="let artist of artists" [routerLink]="['artist', artist.id]">
      <h4 class="pb-3">{{ artist.name }}</h4>
      <h6>Listeners: {{ artist.listeners }}</h6>
      <h6>Playcount: {{ artist.playcount }}</h6>
    </a>
  </div>
</div>
