<h1>Hello, user!</h1>

<p *ngIf="artists$ | async; let artists">There are top {{artists.length}} artists on LastFM</p>

<app-loading *ngIf="!artists$"></app-loading>

<div class="container">
  <div class="row" *ngIf="artists$ | async; let artists">
    <a id="artist" class="cols-md-3 card m-3 px-3 pt-3 pb-0" appSetRandomColor
       *ngFor="let artist of artists" [routerLink]="['artist', artist.id]">
      <h5>{{ artist.name }}</h5>
      <p>Listeners: {{ artist.listeners }}</p>
      <p>Playcount: {{ artist.playcount }}</p>
    </a>
  </div>
</div>
