<div class="profile">
  <div class="cover">
    <div class="media profile d-flex flex-row mx-5 pt-5 align-items-end profile-head" *ngIf="album$ | async; let album">
      <img class="profile-img rounded mt-5" alt="album-img"
           src="https://media.istockphoto.com/photos/blank-vinyl-album-cover-sleeve-mockup-isolated-clipping-path-picture-id536669874?k=20&m=536669874&s=170667a&w=0&h=MZNFRw3cEenw4dNqC1DbHExQ6PVL9-DZKpmWr4o7PgE=">
      <div class="align-self-end ms-4 mt-5">
        <h3>{{album.name}}</h3>
        <h5><a class="text-light" [routerLink]="['/artist', album.artistId]">{{album.artistName}}</a></h5>
      </div>
      <div class="media-body mb-0 text-white">
        <app-loading *ngIf="!album.summary"></app-loading>
      </div>
    </div>
  </div>

  <div class="stats bg-light p-4 d-flex justify-content-end text-center">
    <ul class="list-inline mb-0" *ngIf="album$ | async; let album">
      <li class="list-inline-item px-5">
        <h5 class="mb-0 d-block">{{album.listeners}}</h5>
        <small class="text"><i class="fas fa-image me-1"></i>Listeners</small>
      </li>
      <li class="list-inline-item">
        <h5 class="mb-0 d-block">{{album.playcount}}</h5>
        <small class="text"> <i class="fas fa-user me-1"></i>Playcount</small>
      </li>
    </ul>
  </div>

  <mat-tab-group class="p-5 bg-white shadow mb-5">
    <mat-tab label="Tracks" *ngIf="tracks$ | async; let tracks">
      <app-loading *ngIf="!tracks"></app-loading>
      <track-list [tracks]="tracks"></track-list>
    </mat-tab>
    <mat-tab label="Wiki" *ngIf="album$ | async; let album">
      <app-loading *ngIf="!album"></app-loading>
      <div id="wiki" class="p-5 bg-white shadow mb-5 show active" *ngIf="album$ | async; let album">
        <app-wiki [summary]="album.summary" [wiki]="album.wiki"></app-wiki>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
